    <header>
        <img src="/favicon.ico" />
        <h1>Mapa Super Legal</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/pessoas">Listar Pessoas</a></li>
            <li><a href="/admin/pessoas">Admin Pessoas</a></li>
        </ul>
    </nav>
