<!DOCTYPE html>
<html>
<head>
	<title>LEA - Live Environment for Agents</title>
	<meta charset="utf-8" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        margin-bottom: 1em;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
      }
    </style>
    <script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -3.650958520411694, lng: -39.0146470430677 },
            zoom: 8,
        });
    }
    
    function placeMarker(position, map) {
        var marker = new google.maps.Marker({
            position: position,
            map: map
        });
        map.panTo(position);
    }
    google.maps.event.addListener(map, 'click', function(e) {
        alert(e.latLng);
        placeMarker(e.latLng, map);
    });
    </script>
</head>
<body>
    <%- include('header.ejs') %>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap"
      async
    ></script>
    
	<main>
        <div id="resultado"></div>
		<form onsubmit="event.preventDefault(); inserir(); return false" id="form_soma">
            <input type="hidden" id="id" value="" />
            <label>
                <span>Latitude:</span>  
                <input id="lat" type="text" name="lat" placeholder="Insira seu lat">
            </label>
            <label>
                <span>Longitude:</span>
                <input id="lng" type="int" name="lng" placeholder="Insira seu lng">
            </label>  
            <button type="submit">Enviar</button>
            <button type="reset" onclick="document.querySelector('#id').value='';">Limpar</button>
		</form>
        <button onclick="listar()">Listar</button>
        <table style="display: none;">
            <tr> 
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Ações</th>
            </tr> 
            <tbody id="lista"></tbody>
        </table>
	</main>
	<script>
        const url = '/api/v1/pontos/';
		async function listar() {
			let resultado = document.querySelector('#lista');
			resultado.parentElement.style.display = 'block';
			resultado.innerHTML = 'Carregando...';
			let resposta = await fetch(url);
            resultado.innerHTML = '';
            for (let bean of await resposta.json()) {
                let linha = '<tr>';
                linha += '	<td>' + bean.lat + '</td>'; 
                linha += '	<td>' + bean.lng + '</td>'; 
                linha += '	<td><button onclick="formEditar(' + bean.id + ');">Editar</button><button onclick="apagar(' + bean.id + ');">Apagar</button></td>'; 
                linha += '</tr>';
                resultado.innerHTML += linha;
            }
		}
		async function inserir() {
            let id = document.querySelector('#id').value;
			const bean = {
				lat: document.querySelector('#lat').value,
				lng: document.querySelector('#lng').value
			};
			let resposta = await fetch(url + id, {
				method: (id == '') ? 'POST' : 'PUT',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(bean)
			});
            let resultado = document.querySelector('#resultado');
            resultado.innerHTML = await resposta.text();
            listar();
        }
		async function apagar(id) {
            let resposta = await fetch(url + id, {
				method: 'DELETE'
			});
            let resultado = document.querySelector('#resultado');
            resultado.innerHTML = await resposta.text()
            listar();
		}
		async function formEditar(id) {
			let resposta = await fetch(url + id);
            let bean = await resposta.json();
            document.querySelector('#lat').value = bean.lat;
            document.querySelector('#lng').value = bean.lng;
            document.querySelector('#id').value = id;
        }
        listar();
	</script>
</body>
</html>
